body{
    background-color: rgb(90, 248, 248);
}
.box{
    width: 360px;
    height: 800px;
    border: 2px solid #fff;
    -webkit-box-shadow: 2px -1px 9px 17px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -1px 9px 17px rgba(0,0,0,0.75);
    box-shadow: 2px -1px 9px 17px rgba(0,0,0,0.75);
    border-radius: 5px;
    margin-top: 50px;
}
input[type="text"],
input[type="email"],input[type="password"]{
    display: block;
    color: rgb(1, 3, 0);
    margin-bottom: 30px;
    padding: 4px;
    width: 220px;
    height: 32px;
    font-size: 15px;
}
label{
    font-size: 15px;
    color: rgb(236, 142, 248);
    padding: 1px 15px;
    border-radius: 5px;
    background-color: white;


}
#cancel{
    background-color: red;
    float: left;
    margin-left: 20px;
}
#done{
    float: right;
    margin-right: 20px;
}
.cm{
    margin-top: 10px;
    color: lavenderblush;
    margin-left: 10%;
}
::placeholder{
    color: rgb(236, 142, 248);
    font-size: 15px;
}
.footer {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
h1{
    color: rgb(171, 219, 247);
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
}